.nav li{
    display: inline-block;
    flex-direction: row;
    text-align: center;
}


body {
    background-image: url("https://www.spacex.com/static/images/crew-2/splashdown/Crew-1_Crew_Desktop.webp");
    background-image: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

ul {
    display: inline-flex;
    text-align: right;
    list-style-type: none;
    padding: 30px;;
    margin: 30px;;
    color: white;
    text-indent: 10px;
}

main {
    color: white;
    padding: 50p;
    margin: 50px;
}
header{
    padding: 30px;
    margin: 30px;
    text-align: left;
}

.btn{
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    font: Bold, Arial,Verdana,sans-serif;
}